/* .company-sidebar{
    height: 93vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
}

.companies{
    display: flex;
    flex-direction: column;
}

.company-container img{
    width: 50px;
} */