.find-jobs{
    background-color: var(--main-background-color);
    height: 100vh;
}

.find-jobs-hero{
    background-color: var(--accent-background-color);
    padding: 5% var(--default-spacing);
}

.find-jobs-hero h1{
    color: var(--accent-color);
    font-family: var(--accent-font);
    margin: 0;
}

.find-jobs-hero p{
    color: var(--light-grey);
    margin: 0;
    padding-bottom: 2rem;
}

.find-jobs-hero-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-jobs-hero-bottom input{
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0.5rem;
    border: none;
    color: var(--black-color);
    font-family: var(--base-font);
}

.search-icon{
    font-size: 1.5rem;
    background-color: var(--white-color);
    padding: 1.58rem 1rem;
    border: none;
}


.find-jobs-main{
    display: flex;
}

.find-jobs-card-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: var(--default-spacing);
    padding-top: 1rem;
    gap: 1rem;
}

@media only screen and (max-width: 800px){
    .find-jobs-main{
      flex-direction: column;
    }

    .filter-search{
        width: 80%;
    }

    .find-jobs-hero p,
    .find-jobs-hero h1{
        text-align: center;
    }

    .find-jobs-hero h1{
        padding-bottom: 0.5rem;
    }

    .salary-slider{
        width: 85%;
    }

    .find-jobs{
        width: fit-content;
        overflow-x:hidden ;
        padding-bottom: 1rem;
    }

    .find-jobs-card-container{
        padding-left: 4.5vh;
    }
  }