.admin-card:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.admin-card-left{
    display: flex;
    gap: 0.5rem;
}

.admin-card-left img{
    height: 75px
}

.job-role-company-container{
    display: flex;
    flex-direction: column;
}

.job-role{
    padding: 0;
    margin: 0;
    color: var(--white-color);
}

.job-company{
    padding: 0;
    margin: 0;
    color: var(--light-grey);
}

.admin-card-center{
    display: flex;
    gap: 1rem;
    align-items: center;

}

.admin-job-detail{
    background-color: #575757;
    height: fit-content;
    padding: 0.5rem;
    color: var(--white-color);
    border-radius: 10px;
    font-size: 0.85rem;
}

.adminn-job-detail p{
    padding: 0;
    margin: 0;
}

.number-of-applicants{
    color: var(--green-color);
}

.admin-card-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.job-post-time{
    color: var(--light-grey);
    font-size: 0.9rem;
    margin: 0;
}

.right-button{
    width: 100%;
    color: var(--white-color);
    font-weight: bold;
}

#approve{
    background-color: #3B6D2B;
}

#deny{
    background-color: var(--red-color);
}

.admin-card {
    background-color: var(--dark-grey);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    transform: scale(1); /* Default scale */
    transition: transform 0.3s ease /* Smooth animation for both scale and shadow */}

.admin-card:hover {
    transform: scale(1.03); /* Slightly larger on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

@media only screen and (max-width: 800px){
    .admin-card{
        width: 100%;
        height: 25vh;
        border-radius: 2vh;
        flex-direction: column;
        align-self: center;
    }

    .admin-job-detail{
        width:fit-content;
        font-size: 0.72rem;
    }

    .admin-card-center{
        justify-content : center;
        padding-bottom: 0.5rem;
    }

    .admin-card-left{
        justify-content: space-between;
    }

    .job-role-company-container{
        text-align: right;
    }
}
